<!-- Template :: Snippets List -->
<script id="tasks-list-template" type="text/x-handlebars-template">
	{{#if tasksGroup}}
		{{#each tasksGroup}}
		<li>
	<h3 class="">{{@key}}</h3>
	<article class="">
		{{> tasks-list this}}
	</article>
</li>
{{/each}}
{{else}}
{{> tasks-list}}
{{/if}}	
</script>

<script id="tasks-list-partial" type="text/x-handlebars-template">
	<table class="table table-hover table-condensed">
	<thead>
	<tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th>Task</th>
<th>Start Date</th>
<th>Due Date</th>
<th>Assigned To</th>
<th>Status</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
	<!-- <li class="task-list-header item posRel"> 
		<div class="grid-table grid-table-fixed">
		
		<div class="grid-table-row">
		<div class="grid-cell" style="width: 50px;"></div>
		<div class="grid-cell" style="width: 30px;"></div>
		<div class="grid-cell" style="width: 25px;"></div>
		<div class="grid-cell" style="width: 25px;"></div>
		<div class="grid-cell" style="width: 30%;">Task</div>
		<div class="grid-cell">Start Date</div>
		<div class="grid-cell">Due Date</div>
		<div class="grid-cell">Assigned To</div>
		<div class="grid-cell">Status</div>
		<div class="grid-cell" style="width:70px;">Actions</div>
		</div>
		
		</div>
	</li>-->
	
	{{#if tasks}}
	{{#each tasks}}
	<tr>
		<td>
			<span class="js-expand-collapse" data-toggle-expand-collapse="true" data-toggle="tooltip" data-placement="top" title="More Detail"><i class="ion-chevron-right"></i></span>
		</td>
		
		<td>
			<div class="checkbox-group normal posRel">
				<input type="checkbox" id="chkTask_{{this._id}}" name="chkTask_{{this._id}}" data-taskdb-id="{{this._id}}" {{#compare this.archived "==" "true"}}checked="{{this.archived}}" {{/compare}}/>
				<label for="chkTask_{{this._id}}" class=""><i></i></label>
			</div>
		</td>
		
		<td>
			{{#if remindMe}}
			
			<a href="javascript:;" class="has-popover popover-extcontent" tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" title="Popover title" data-html="true" data-content=''>
				<i class="ion-ios-bell fontSize12em" data-toggle="tooltip" data-placement="top" title="Reminder has been set to {{this.remindMe}}"></i>
			</a>
			
			<div class="pop-content pop-content-reminder" style="display:none;">
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Hourly');" data-reminder-type="Hourly">Hourly</a><br/>
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Daily');" data-reminder-type="Daily">Daily</a><br/>
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Weekly</a>
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Clear Reminder</a>
			</div>
			
			{{else}}
			
			<a href="javascript:;" class="has-popover popover-extcontent" tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" title="Popover title" data-html="true">
				<i class="ion-ios-bell-outline fontSize12em" data-toggle="tooltip" data-placement="top" title="Set Reminder"></i>
			</a>
			
			<div class="pop-content pop-content-reminder" style="display:none;">
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Hourly');" data-reminder-type="Hourly">Hourly</a><br/>
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Daily');" data-reminder-type="Daily">Daily</a><br/>
				<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Weekly</a>
			</div>
			{{/if}}
		</td>
		
		<td>
			<span class="priority {{this.priority}}" data-toggle="tooltip" data-placement="top" title="{{this.priority}}"></span>
		</td>
		
		<td>
			{{this.title}}
		</td>
		
		<td>
			<span class="metadata date uppercasetext"><i class="fa fa-clock-o"></i>
				{{#dateFormat this.startDate format="DD/MM/YYYY hh:mm A"}}
				{{this}}
				{{/dateFormat}}
			</span>
		</td>
		
		<td>
			<span class="metadata date uppercasetext"><i class="fa fa-clock-o"></i>
				{{#dateFormat this.dueDate format="DD/MM/YYYY hh:mm A"}}
				{{this}}
				{{/dateFormat}}
			</span>
		</td>
		<td>
			<span class="metadata assigned-to uppercasetext"><i class="ion-person"></i> {{this.assignedTo}}</span>
		</td>
		
		<td>
			<!-- <span class="metadata task-status uppercasetext">
				In Progress
			</span> -->
			
			<div class="progress-bar-module posRel color gray666" data-toggle="tooltip" data-placement="top" data-container="body" title="{{this.taskProgress}}% Completed">
				<strong>{{this.taskProgress}}%</strong>
				<span
				{{#compare this.taskProgress "<=" "20"}}class="color red posAbs"{{/compare}}
				{{#xif " this.taskProgress > '20' && this.taskProgress <= '40' " }}class="color yellow posAbs"{{/xif}}
				{{#xif " this.taskProgress > '40' && this.taskProgress <= '70' " }}class="color blue posAbs"{{/xif}} {{#compare this.taskProgress ">" "70"}}class="color green posAbs"{{/compare}}
				style="width:{{this.taskProgress}}%;"></span>
			</div>
		</td>
		<td>
			<div class="item-controls style1">
				<a href="javascript:;" onclick="moduleTasks.editTask('{{this.id}}', '{{this._id}}')" data-toggle="modal" data-target="#modalAddEditTasksForm" data-snippet-id="{{this.id}}"><i class="ion-edit fontSize12em" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
				
				<a href="javascript:;" onclick="moduleTasks.deleteTask('{{this.id}}', '{{this._id}}')" data-snippet-id="{{this.id}}"><i class="glyphicon glyphicon-trash fontSize12em" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
			</div>
		</td>
	</tr>
	<!--
	<li class="item posRel" data-snippet-id="{{this._id}}">
		
		<div class="grid-table grid-table-fixed">
			<div class="grid-table-row">
				
				<div class="grid-cell" style="width: 50px;">
					<span class="js-expand-collapse" data-toggle-expand-collapse="true" data-toggle="tooltip" data-placement="top" title="More Detail"><i class="ion-chevron-right"></i></span>
				</div>
				
				<div class="grid-cell" style="width: 30px;">
					<div class="checkbox-group normal posRel">
						<input type="checkbox" id="chkTask_{{this._id}}" name="chkTask_{{this._id}}" data-taskdb-id="{{this._id}}" {{#compare this.archived "==" "true"}}checked="{{this.archived}}" {{/compare}}/>
						<label for="chkTask_{{this._id}}" class=""><i></i></label>
					</div>
				</div>
				
				<div class="grid-cell" style="width: 25px;">
					{{#if remindMe}}
					
					<a href="javascript:;" class="has-popover popover-extcontent" tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" title="Popover title" data-html="true" data-content=''>
						<i class="ion-ios-bell fontSize12em" data-toggle="tooltip" data-placement="top" title="Reminder has been set to {{this.remindMe}}"></i>
					</a>
					
					<div class="pop-content pop-content-reminder" style="display:none;">
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Hourly');" data-reminder-type="Hourly">Hourly</a><br/>
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Daily');" data-reminder-type="Daily">Daily</a><br/>
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Weekly</a>
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Clear Reminder</a>
					</div>
					
					{{else}}
					
					<a href="javascript:;" class="has-popover popover-extcontent" tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" title="Popover title" data-html="true">
						<i class="ion-ios-bell-outline fontSize12em" data-toggle="tooltip" data-placement="top" title="Set Reminder"></i>
					</a>
					
					<div class="pop-content pop-content-reminder" style="display:none;">
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Hourly');" data-reminder-type="Hourly">Hourly</a><br/>
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Daily');" data-reminder-type="Daily">Daily</a><br/>
						<a href="javascript:;" onclick="moduleTasks.setReminder('{{this.id}}', '{{this._id}}', 'Weekly');" data-reminder-type="Weekly">Weekly</a>
					</div>
					{{/if}}
				</div>
				
				<div class="grid-cell" style="width: 25px;">
					<span class="priority {{this.priority}}" data-toggle="tooltip" data-placement="top" title="{{this.priority}}"></span>
				</div>
				
				<div class="grid-cell" style="width: 30%;">{{this.title}}</div>
				
				<div class="grid-cell notextwrap">
					<span class="metadata date uppercasetext"><i class="fa fa-clock-o"></i>
						{{#dateFormat this.startDate format="DD/MM/YYYY hh:mm A"}}
						{{this}}
						{{/dateFormat}}
					</span>
				</div>
				
				<div class="grid-cell notextwrap">
					<span class="metadata date uppercasetext"><i class="fa fa-clock-o"></i>
						{{#dateFormat this.dueDate format="DD/MM/YYYY hh:mm A"}}
						{{this}}
						{{/dateFormat}}
					</span>
				</div>
				
				<div class="grid-cell">
					<span class="metadata assigned-to uppercasetext"><i class="ion-person"></i> {{this.assignedTo}}</span>
				</div>
				
				<div class="grid-cell">
				
					<div class="progress-bar-module posRel color gray666" data-toggle="tooltip" data-placement="top" data-container="body" title="{{this.taskProgress}}% Completed">
						<strong>{{this.taskProgress}}%</strong>
						<span
						{{#compare this.taskProgress "<=" "20"}}class="color red posAbs"{{/compare}}
						{{#xif " this.taskProgress > '20' && this.taskProgress <= '40' " }}class="color yellow posAbs"{{/xif}}
						{{#xif " this.taskProgress > '40' && this.taskProgress <= '70' " }}class="color blue posAbs"{{/xif}} {{#compare this.taskProgress ">" "70"}}class="color green posAbs"{{/compare}}
						style="width:{{this.taskProgress}}%;"></span>
					</div>
				</div>
				
				<div class="grid-cell" style="width:70px;">
					<div class="item-controls style1">
						<a href="javascript:;" onclick="moduleTasks.editTask('{{this.id}}', '{{this._id}}')" data-toggle="modal" data-target="#modalAddEditTasksForm" data-snippet-id="{{this.id}}"><i class="ion-edit fontSize12em" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
						
						<a href="javascript:;" onclick="moduleTasks.deleteTask('{{this.id}}', '{{this._id}}')" data-snippet-id="{{this.id}}"><i class="glyphicon glyphicon-trash fontSize12em" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="js-expand-collapse-content task-more-details" style="display:none;">
			<div class="padding20px">
				<div class="task-description">
					{{{this.description}}}
				</div>
				<div class="task-note">
					{{{this.note}}}
				</div>
			</div>
		</div>
		
	</li>-->
	{{/each}}
{{else}}
<!-- Info Message if no list items are available -->
<div class="alert alert-block alert-info js-alert">
	<h4>Info!</h4>
	No snippets are available in the selected category or tag.
</div>
{{/if}}
</tbody>
</table>
</script>


<!--=============================================
	START :: Handlebars Partials ( Sub Templates )
	=================================================-->					